
body {
  background: rgb(42, 73, 85);
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10,40px);
}

.cell {
  width: 40px;
  height: 40px;
  background-color: rgb(75, 71, 71);
  border: 1px solid black;
  cursor: pointer 
}

.revealed {
  background-color: #e0e0e0; /* lighter gray */
  cursor: default;
  font-weight: bold;
}